<h1><%= t '.title', :for => @trip %></h1>

<ol>

<% @trip.people.each do |person|
    @person = person %>
  <li style="margin-top: 15px">
  <% div_for person, :class => :person do
      if person.full_name.nil? %>
    <%= render :partial => person %>
<%    else -%>
    <%= render :partial => 'show' %>
<%    end
    end %>
  </li>
<% end %>

</ol>

<%= link_to t('.show_trip'), client_trip_path(@trip.client, @trip) %>