a:focus { outline: none }

#main {
  margin-top: 60px;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#client-results {
  display: none
}

input[type=search] {
  border-radius: 1.5em;
}
