button:focus, a:focus { outline: none !important }

#main {
  margin: 60px auto;
}

#flash-notice {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10000;
  top: 0.75em;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.force-wrap {
  word-break: break-all;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#client-results {
  display: none
}

input[type=search] {
  border-radius: 1.5em;
}

#mount-search {
  position: relative;
}

#search-results {
  position: absolute;
  top: 3em;

  width: 20em;
  max-height: 30em;
  overflow-y: auto;
}

.glyphicon.spin {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}


.datetime-container {
  position: relative;
}

.datetime-container .datetime {
  position: absolute;
  top: 2.5em;
  width: 100%;
  z-index: 10;
}
