a:focus { outline: none }

#main {
  margin-top: 60px;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#client-results {
  display: none
}

input[type=search] {
  border-radius: 1.5em;
}

#mount-search {
  position: relative;
}

#search-results {
  position: absolute;
  top: 3em;

  width: 20em;
  max-height: 30em;
  overflow-y: auto;
}

.glyphicon.spin {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
