/* 
    Document   : edventure
    Created on : Sep 30, 2010, 8:55:05 PM
    Author     : josh
*/

root { 
    display: block;
}

body {
  background-color: #FEFBD3;
  color: #381603;
}

#content {
  width: 80%;
  margin: auto;
}

#masthead, #links {
  text-align: center;
}

table.styled {
  width: 100%;
  background-color: #FFFBC0;
  border: 2px solid #F0E881;
  border-spacing: 0;
}

table.grid {
  border-collapse: collapse;
  border-spacing: 0;
}

table.grid td {
  border: 2px solid #F0E881;
  border-bottom:none;
  padding-left: 5px;
  padding-right: 5px;
}

th {
  text-align: center;
  text-decoration: underline;
}

td {
  text-align: center;
  vertical-align: top;
}

table.styled td {
  padding: 5px;
}

tr.even {
  background-color: #F0E881;
}

form {
  border-left: 2px solid;
  margin-left: 10px;
  padding-left: 25px;
}

input[type=text], textarea {
  background-color: #FFFBC0;
  border: 1px solid #381603;
  width: 300px;
}

form.inplaceeditor-form {
  border: none;
  padding: 0;
  margin: 0 5px 0 5px;
}

.tab {
  width: 500px;
  border: 2px solid #F0E881;
  padding: 15px;
}

.tab-button {
  padding: 3px 10px 3px 10px;
  margin-right: 5px;
  background-color: #d4cd72;
}

.tab-button-selected {
  background-color: #F0E881;
  font-weight: bold;
}
