<h1><%= t '.title' %></h1>

<%= render :partial => @company, :locals => { :submit_text => t(:submit_update) } %>

<div class="btn-group">
  <%= link_to t('.show_res'), company_reservations_path(@company), class: 'btn btn-default' %>
  <%= link_to t(:delete), @company, :confirm => t(:confirm), :method => :delete, class: 'btn btn-danger' %>
</div>
