
  <li><%=in_place_editor_field region, :name %> &ndash;
      <%=in_place_collection_editor_field region, :country, Region.countries %>
      (<%= link_to t(:delete), region,
           :confirm => t(:confirm), :method => :delete %>)
  </li>