<h1>Listing regions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th></th>
  </tr>

<% @regions.each do |region| %>
  <tr>
    <td><%=in_place_editor_field region.name %></td>
    <td><%=in_place_collection_editor_field region, :country, Region.countries %></td>
    <td><%= link_to 'Destroy', region, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New region', new_region_path %>